<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}">

        </header>

        <h2>Datos del Cliente</h2>
        <br>
        <hr>
        <a th:href="@{/cliente/listado}">Regresar</a>


        <form th:action="@{/cliente/guardar}" method="POST" th:object="${cliente}" >
            <input type="hidden" name="idCliente" value="" size="30" th:field="*{idCliente}" required=""/>
            <label>Nombre</label>
            <input type="text" name="nombre" value="" size="30" th:field="*{nombre}" required=""/>
            <br>
            <label>Apellido</label>
            <input type="text" name="apellido" value="" size="30" th:field="*{apellidos}" required=""/>
            <br>
            <label>Correo</label>
            <input type="email" name="correo" value="" size="30" th:field="*{correo}" required=""/>
            <br>
            <label>Telefono</label>
            <input type="tel" name="telefono" value="" size="30" th:field="*{telefono}" required=""/>
            <br>
            <input type="submit" value="guardar" />
        </form>


        <footer th:replace="~{layout/plantilla :: footer}"> </footer>
    </body>
</html>
