/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 ene 2023, 10:10:58
    Author     : Derek
*/

*{
    margin: 0;
    box-sizing: border-box;
    
}


body{
    background-color: whitesmoke;
    font-family: sans-serif;
    padding: 80px 20px 0 0;

}

p{
    color: blue;
}

#noticia{
    color: yellow;
}

article p{

    color: green;
    
}

.titulo{
    background-color: blanchedalmond;

}

.header{

    background-color: #024070;
    height: 80px;
    position: fixed;
    top:0;
    width: 100%;

}

.aside {
    background-color: bisque;
    position: fixed;
    top:80px;
    left: 0;
    width: 20%;
    bottom: 20px;
}

.contenido{

    background-color: coral;
    position: fixed;
    top:80px;
    left: 20%;
    right: 0%;
    bottom: 20px;
    overflow: scroll;

}

.footer{

    background-color: darkgray;
    color: white;
    text-align: center;
    position: fixed;
    
    left: 0;
    width: 100%;
    bottom: 0;
}


.textoCentrado{
    text-align: center;
}

.textoDerecha{
    text-align: right;
}


/*even es par*/
tbody tr:nth-child(even){
    background-color: grey;
}

/*ood es impar*/
tbody tr:nth-child(odd){
    background-color: cornflowerblue;
}

/* comienza la deficinion del menu*/

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 80px;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
}

.nav-menu-link:hover{
    font-size: 20px;
    background-color: darkgray;
    transition: 0.5s;
    
}