<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Articulos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <section th:replace="~{articulo/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{articulo/fragmentos :: agregarArticulo}"/>
        <section th:replace="~{articulo/fragmentos :: listadoArticulos}"/>
        
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
